In [14]:
# max in two numbers
a =int(input())
b =int(input())

if a > b:
    print(a)
else:
    print(b)

5
4
5

In [4]:
# factrioal
a =int(input())
j = 1
for i in range(1,a+1):
    j = j * i
print(j)

5
120

In [5]:
def fac(a):
    if a == 0:
        return 1
    return a * fac(a-1)
a = int(input())
fac(a)

5

120

In [6]:
# We need to find simple interest on Rs. 10,000 at the rate of 5% for 5 units of time.
p = int(input('price'))
t = int(input("time"))
r = int(input('rate'))
c = (p*t*r)/100
print(c)

price10000
time5
rate5
2500.0

In [8]:

# Python code
# To find compound interest
 
# inputs
p= 1200   # principle amount
t= 2      # time
r= 5.4    # rate
# calculates the compound interest
a=p*(1+(r/100))**t  # formula for calculating amount
ci=a-p  # compound interest = amount - principal amount
# printing compound interest value
print(ci)

133.0992000000001

In [10]:
# armestrong
n = int(input())
s = n
d = len(str(n))
sum = 0
while n != 0:
    r = n % 10
    sum = sum + (r**d)
    n = n//10
if s == sum:
    print('yes')
else:
    print('no')

153
yes

In [14]:
# print prime 
a = int(input())
for i in range(2,a):
    if a % i == 0:
        print('no')
        break
else:
    print('prime')

5
prime

In [30]:
a =int(input())
for i in range(2,a):
    k = 0
    for j in range(2, i//2+1):
        if (i % j ==0):
            k = k + 1
    if (k<=0):
        print(i, end=' ')

50
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [34]:
n = int(input())
a = 0 
b = 1
c = 0
for i in range(n):
    c = a + b 
    a = b 
    b = c 
    print(c, end=" ")

10
1 2 3 5 8 13 21 34 55 89

In [43]:
def fibo(n):
    if n == 1 or n == 2:
        return 1
    return fibo(n-1) + fibo(n-2)
a = int(input())
fibo(a)

5

5

In [52]:
# chack no is fibo or not
n = int(input())
a = 0 
b = 1
c = 0
l = []
no = int(input())
for i in range(n):
    c = a + b 
    a = b 
    b = c 
    l.append(c)
if no in l:
    print(True)
else:
    print(False)

50
377
True

In [63]:
n = input()
a = n[::-1]
if n == a:
    print(True)
else:
    print(False)

sabas
True

In [70]:
a = int(input())
sum = 0
total =0 
for i in range(1,a+1):
    sum = i**2
    total = total + sum
print(total)

4
30

In [71]:
a = 10
b = 20
print(a,b)
a,b = b,a
print(a,b)

10 20
20 10

# array Programes

In [78]:
# sum of array
a = list(int(x) for x in input().split(" "))
sum=0
for i in a:
    sum = sum+i
print(sum)

1 2 3 4 5 6 7 8 9 10
55

In [80]:
# find large num in array
a = list(int(x) for x in input().split(" "))
b = a[0]
for i in range(1,len(a)):
    if b >a[i]:
        print(b,"is lar")
    b = a[i]

1 2 3 45 6 7 8 9
45 is lar

In [86]:
# swap first and last value in list
a = list(int(x) for x in input().split(" "))
ne = a[0],a[-1] = a[-1],a[0]
ne = list(ne)
ne.append(a[1:-1])
print(ne)

1 2 3 4 5
[5, 1, [2, 3, 4]]

In [87]:
a = list(int(x) for x in input().split(" "))
c= len(a)
print(c)

1 2 3 4 5 6
6

In [91]:
a = list(int(x) for x in input().split(" "))
x= int(input())
for i in a:
    if x == i:
        print(i)
        break
else:
    print('no')

1 2 3 4 5 6
10
no

In [92]:
a = list(int(x) for x in input().split(" "))
a.clear()
print(a)

1 2 3 4 5 6
[]

In [93]:
a = list(int(x) for x in input().split(" "))
b = a[::-1]
print(b)

1 2 3 4 5 6
[6, 5, 4, 3, 2, 1]

In [95]:
# 7 sum of list
a = list(int(x) for x in input().split(" "))
sum = 0
for i in a:
    sum = sum + i
print(sum)

12 15 3 10
40

In [96]:
# 8 multiply
a = list(int(x) for x in input().split(" "))
mul = 1
for i in a:
    mul =mul * i
print(mul)

1 2 3
6

In [107]:
# 9 small num in list
a = list(int(x) for x in input().split(" "))
a.sort()
print(a[0])

5 3 2 1 69 8 7
1

In [108]:
# 10 large num in list
a = list(int(x) for x in input().split(" "))
a.sort()
print(a[-1])

1 2 3 6 5 4 78 96 3 2 21 5 6 5 41 2 1 1
96

In [109]:
# 11 second large num in list
a = list(int(x) for x in input().split(" "))
a.sort()
print(a[-2])

1 2 3 65 4 7 9
9

In [110]:
# 12 N large num in list
a = list(int(x) for x in input().split(" "))
a.sort()
n = int(input())
print(a[-n:])

12 65 23 8 4 632 15 68 218 965 2 12 13
3
[218, 632, 965]

In [119]:
# 13 Python program to print even numbers in a list
n  = list(int(x) for x in input().split(" "))
a = []
for i in n:
    if i % 2 == 0:
        a.append(i)
print(a)

12 3 6 5 6 98 7 4 56 6 2 3 6 45
[12, 6, 6, 98, 4, 56, 6, 2, 6]

In [121]:
# 14 Python program to print Odd numbers in a list
n  = list(int(x) for x in input().split(" "))
a = []
for i in n:
    if i % 2 == 0:
        pass
    else:
        a.append(i)
print(a)

1 2 3 6 5 4 7 8 9
[1, 3, 5, 7, 9]

In [130]:
# 15 Python program to print all even numbers in a range
n = int(input())
m = int(input())
for i in range(n,m,2):
    print(i)

4
20
4
6
8
10
12
14
16
18

In [132]:
# 16 Python program to print all odd numbers in a range
n = int(input())
m = int(input())
for i in range(n,m):
    if i % 2 == 0:
        pass
    else:
        print(i)

5
20
5
7
9
11
13
15
17
19

In [135]:
# 17 Python program to print positive numbers in a list
a = list(int(x) for x in input().split(" "))
for i in a:
    if i > 0:
        print(i, end=" ")

1 -8 6 -9 6 3 -5 -4 2 3
1 6 6 3 2 3

In [136]:
# 18 Python program to print negative numbers in a list
a = list(int(x) for x in input().split(" "))
for i in a:
    if i > 0:
        pass
    else:
        print(i, end=" ")

1 -8 6 -9 6 3 -5 -4 2 3
-8 -9 -5 -4

In [139]:
# 19 Python program to print all positive numbers in a range
n = int(input())
m = int(input())
for i in range(n,m+1):
    if i >= 0:
        print(i, end=" ")

-5
10
0 1 2 3 4 5 6 7 8 9 10

In [141]:
# 20 Python program to print all negative numbers in a range
n = int(input())
m = int(input())
for i in range(n,m+1):
    if i < 0:
        print(i, end=" ")

-5
10
-5 -4 -3 -2 -1

# Mearg Sort

In [24]:
def merg(a1,a2,a):
    i = 0
    j = 0
    k = 0 
    if i < len(a1) and j < len(a2):
        if a1[i] < a2[j]:
            a[k] = a1[i]
            k = k + 1
            i = i + 1
        else:
            a[k] = a2[j]
            k = k + 1
            j = j + 1
    while i <len(a1):
        a[k] = a1[i]
        k = k + 1
        i = i + 1
    while j < len(a2):
        a[k] = a2[j]
        k = k + 1
        j = j + 1

In [25]:
def my_mer(a):
    if len(a) == 0 or len(a) == 1:
        return
    mid = len(a) // 2
    a1 = a[0:mid]
    a2 = a[mid:]
    
    my_mer(a1)
    my_mer(a2)
    merg(a1,a2,a)

In [26]:
a = [6,4,1,8,0,1,2,5,7,8,4,3]
merg_so(a)
print(a)

[0, 1, 1, 2, 3, 4, 4, 5, 6, 7, 8, 8]

In [29]:
a = "good mornig!"


print(a[4:])

 mornig!

In [34]:
class Employee:
    def __init__(myself, id, name):
        myself.id = id 
        myself.name = name
    def get_emp(self):
        print("employee id is", self.id, "and employee name is ", self.name)

In [35]:
a = Employee(1, "Chirag")
a.get_emp()

employee id is 1 and employee name is  Chirag