# intro to 2D list

In [1]:
li = [[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]

In [2]:
li[2][2]

11

In [4]:
li[1][2]=20
li

[[1, 2, 3, 4], [5, 6, 20, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

# List Comprehension

In [5]:
li=[1,2,3,4]
li_new=[]
for ele in li:
    li_new.append(ele**2)
print(li_new)

li_new_c=[ele**2 for ele in li]

li_new_c

li_even_square=[ele**2 for ele in li if ele%2==0]

li_even_square

li_even_square=[]
for ele in li:
    if ele %2==0:
        li_even_square.append(ele)

li_even_square

li=[1,2,3,4,5,6,7,8,9]
li_new=[]
for ele in li:
    if ele%2==0:
        if ele %3==0:
            li_new.append(ele)
print(li_new)

li_new_2=[ele  for ele in li if ele%2==0 if ele%3==0]

print(li_new_2)

li_1=[1,2,3,4,5]
li_2=[2,4,6,7]
li_inter=[]
for ele in li_1:
    for ele_2 in li_2:
        if ele==ele_2:
            li_inter.append(ele)
print(li_inter)

li_1=[1,2,3,4,5]
li_2=[2,4,6,7]
li_inter=[ele for ele in li_1 for ele2 in li_2 if ele==ele2]

print(li_inter)

li=[1,2,3,4,5]
li_inter=[ele**2 if ele%2==0 else ele for ele in li]

li_inter

s="Parikh"
li=[ele for ele in s]

li

li=["Parikh","Rohan","Ankush"]
l1_2d=[[s for s in ele]for ele in li]

l1_2d

[1, 4, 9, 16]
[6]
[6]
[2, 4]
[2, 4]

[['P', 'a', 'r', 'i', 'k', 'h'],
 ['R', 'o', 'h', 'a', 'n'],
 ['A', 'n', 'k', 'u', 's', 'h']]

# input of the 2D list

In [31]:
sr = input().split()
n,m = int(sr[0]),int(sr[1])
li = [[int(j) for j in input().split()] for i in range(n)]

3 4
1 2 3 4
5 6 7 8
1 2 3 4

In [4]:
li

[[1, 2, 3, 4, 5], [6, 7, 8, 9], [10, 11, 12, 13, 14]]

# using single line input space seperated

In [7]:
str = input().split()
n,m = int(str[0]),int(str[1])
b = input().split()
li = [[int(b[m * i + j]) for j in range(m)] for i in range(n)]

3 4
1 2 3 4 5 6 7 8 9 10 11 12

In [9]:
li

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [16]:
str = input().split()
n,m = int(str[0]),int(str[1])
b = str[2:]
li2 = [[int(b[m * i + j]) for j in range(m)] for i in range(n)]

3 4 1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [17]:
li2

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

# print The 2D array

In [27]:
a = [[1, 2, 3, 4], [5, 6, 7], [9, 10, 11, 12]]
n = len(a)
for i in range(n):
    m = len(a[i])
    for j in range(m):
        print(a[i][j],end=" ")
    print()

1 2 3 4
5 6 7
9 10 11 12

In [30]:
for row in a:
    for ele in row:
        print(ele,end=" ")
    print()

1 2 3 4
5 6 7
9 10 11 12

# Row Wise Sum

In [43]:
row = int(input("how many rows? "))
colums = int(input("how many colums? "))

li = [[int(j) for j in input().split()] for i in range(row)]
for i in li:
    c = 0
    for j in i:
        c = c + j
    print(c,end=" ")

how many rows? 4
how many colums? 2
1 2
3 4
5 6
7 8
3 7 11 15

# Largest column sum in 2D list

In [57]:
li = [[1,2,3,4],[8,7,6,5],[9,10,11,5]]
row = len(li)
column = len(li[0])
max_sum = -1
index = -1
for j in range(column):
    sum = 0
    
    for i in range(row):
        sum = sum + li[i][j]
    if sum > max_sum:
        max_sum = sum
        index = j
print(max_sum, index)

20 2

# largest row or column in 2D list

In [92]:
li = [[10,5],[10,4]]
row = len(li)
column = len(li[0])
large1 = -1
for i in range(row):
    sum = 0
    for j in range(column):
        sum = sum + li[i][j]
    if sum > large1:
        large1 = sum 

large2 = -1
for j in range(column):
    sum1 = 0
    for i in range(row):
        sum1 = sum1 + li[i][j]
    if sum1 > large2:
        large2 = sum1

if large1 >= large2:
    print("row ",large1)
else:
    print("column " ,large2)

column  20