Q.1 Write a program to print your name with your surname.

In [2]:
name = "Chirag"
surname = "Thengadi"
print(name, surname)

Chirag Thengadi

Q.2 Create three variables and print about you. (Name, age, and mobile number)

In [4]:
name = "Chirag"
age = 24
mobile = "3216549870"
print("my name is",name,"\n","I am ", age, "year old \n my mobile number is", mobile)

my name is Chirag
 I am  24 year old
 my mobile number is 3216549870

Q.3 Write a python program to add two integers.

In [7]:
a = 10
b = 12
c = a + b
print(c)

22

Q.4 Write a python program to change the type of data type.
For example, age = 10, which means 10 is an integer, convert it into 10.0
 means(float) using type() function

In [8]:
print(type(age))
age = float(age)
print(type(age))

<class 'int'>
<class 'float'>

Q.5 Write a python program to create a list data type and store at least 3

values, like name, age and number.

In [9]:
li = ["Chirag",24,3216549870]
print(li)

['Chirag', 24, 3216549870]