In [1]:
a = 1,2,3,4

In [2]:
type(a)

tuple

In [7]:
a = (1,2,3,4,5)
print(a)
print(type(a))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [10]:
# tuple is inmutable but you can concate it in new variable

a = 1,2,3,4
b = 5,6,7,8
c = a + b
c

(1, 2, 3, 4, 5, 6, 7, 8)

In [20]:
# if you have no idea about input you can use *more function it convert more inpur data in to a tuple
def tuple_sum(a,b,*more):
    print(a)
    print(b)
    print(more)
    ans = a+b
    for i in more:
        ans = ans + i
    return ans

In [21]:
sum = tuple_sum(4,5)
print(sum)

4
5
()
9

In [22]:
sum = tuple_sum(3,4,5,6,7,8)
print(sum)

3
4
(5, 6, 7, 8)
33

In [23]:
def sum2(a,b):
    return a+b,a-b,a*b,a/b,a**b,a//b

In [27]:
ans,a,b,c,d,e = sum2(3,4)
print(ans,a,b,c,d,e)
ans2 = sum2(3,4)
print(ans2)

7 -1 12 0.75 81 0
(7, -1, 12, 0.75, 81, 0)

# Dictionary

In [29]:
a = {"the": 21, "a": 33, 100:"str" }
a

{'the': 21, 'a': 33, 100: 'str'}

In [30]:
len(a)

3

In [31]:
b = a.copy()
b

{'the': 21, 'a': 33, 100: 'str'}

In [32]:
c = a.fromkeys(["the","a","abc"])
c

{'the': None, 'a': None, 'abc': None}

In [34]:
c = a.fromkeys(["the","a","abc"],10)
c

{'the': 10, 'a': 10, 'abc': 10}

In [35]:
d = dict([("the",33),("a",21),(100,"str")])
d

{'the': 33, 'a': 21, 100: 'str'}

# find k friquency string using dict

In [7]:
s = "This is the word string having many many word"
k = 2

In [8]:
s.split()
s

'This is the word string having many many word'